.landing-page {
  position: relative;
  height: 100vh;
  .background {
    background: url('/assets/nutrition_background.jpg') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.7);
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    mat-card {
      background: rgba(255, 255, 255, 0.8) !important; /* Sobrescreve o fundo padrão */
    }
    .btn-login, .btn-register {
      margin: 10px;
      padding: 10px 20px;
      font-size: 18px;
      background-color:#f1f2f6;
      color: #4d90ff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: black;
      }
    }
  }

}
